.leftSide {
  padding-left: 90px !important;
}
.otherSide {
  background-color: rgba(211, 211, 211, 0.452);
  width: 300px;
  height: 500px;
  padding-left: 20px;
}
.stepsBar {
  background-color: white;
  width: 250px;
}

.timeline-wrapper {
  margin-left: 1.5rem;
  border-left: 2px solid gray;
}
.node {
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}
.node h3,
.node p {
  margin: 0;
}
.node::before {
  content: "";
  width: 15px;
  height: 15px;
  background: red;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: -0.5rem;
}
.nameSide {
  background-color: white;
  width: 250px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
}
.btn {
  margin-top: 20px;
  width: 250px;
}
