.input{
    width: 450px;
    height: 45px;
    border: 1px solid lightgray;
    background-color:rgb(241, 241, 241);
    border-radius: 5px;
    padding-left: 10px;
}
hr{
border-bottom: 2px solid gray;
}
#textSide{
    padding-left: 300px;
    padding-top: 30px;
}
.submit-btn{
    width: 450px;
    height: 45px;
    border: 1px solid lightgray;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
}