.checkOutCard img {
  width: 100px;
}

.cardItem {
  display: flex;
  background-color: antiquewhite;
  height: 110px;
  border-radius: 10px;
}
.cardItem img {
  width: 90px;
  height: 90px;
  margin: 10px;
}
.cardText {
  margin: 23px;
}
.cardItem .count {
  margin: 23px;
}
.checkOutCard {
  overflow-y: auto;
  height: 200px;
}
