.lastPart {
  background-color: black !important;
}
.row img {
  width: 200px;
}
.list li {
  color: white;
  list-style: none;
}
@media screen and (max-width: 462px) {
  .lastPart {
    background-color: black !important;
    width: 100vw;
  }
}
